body {
    background-color: #fffbf7;
}
#cabecera {
    color: #025157;
    font-family: 'Syne Mono', monospace;
}
#debajoCab{
    color: #46484c;
}
#promo{
    color: #8b8b8bcc;
}

p, form {
    font-family: Arial, Helvetica, sans-serif;
    
}

form{
    text-align: center;
    
}

.campos {
    margin: 3px;
}

.btn_envio {
    color: #fff;
    background-color: #025157;
    padding: 8px 11px;
    border-radius: 6px;
}